body {
    background-color: #222;
    font: Verdana;
    color: white;
}

h1 {
}

.server h2 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.server h2.dead { color: grey; }
.server h2.sync { color: royalblue; }
.server h2.outdate { color: crimson; }
.server h2.ready { color: limegreen; }

.server p {
    color: #ddd;
    margin: 0;
    padding: 0;
}

.buttons button {
    border: none;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.25);
    color: white;
}
.buttons button:hover {
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}
.buttons button:focus {
    outline: none;
}
